doctype html
html(lang="ru")
	head
		meta(charset="UTF-8")
		meta(name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0")
		meta(http-equiv="X-UA-Compatible" content="ie=edge")
		link(rel="stylesheet" href='main.css')
		title One Address
		script(src="https://api-maps.yandex.ru/2.1/?lang=ru_RU" type="text/javascript")
		link(href="https://fonts.googleapis.com/css?family=Roboto:100,100i,300,300i,400,400i,500,500i,700,700i,900,900i|Rubik:300,300i,400,400i,500,500i,700,700i,900,900i&amp;subset=cyrillic" rel="stylesheet")
	body
		.MapWrap
			#Map
			#DescMap
				.DescMap-Header
					.DescMap-BredCrambs
						a.DescMap-BredCrambsLink.DescMap-BredCrambsLink_NotThis(href="#") Инфостраницы
					.DescMap-City
						a.DescMap-CityName(href="#") Санкт-Петербург
		script(src='main.js')
